<!DOCTYPE html>
<html>
  <head>
    <title>Validation</title>
  </head>
  <body>
    <form id="valueForm">
      <label for="valueInput">Enter a value:</label>
      <input type="text" id="valueInput" name="valueInput">
      <button type="submit">Submit</button>
    </form>

    <script>
      document.getElementById("valueForm").addEventListener("submit", function(event) {
        event.preventDefault(); 
        var myvalue = "vel";
        localStorage.setItem("key", myvalue);
        var inputValue = document.getElementById("valueInput").value;
        var storedValue = localStorage.getItem("key");
        
        if (inputValue === storedValue) {
          window.location.href = "/home"; 
          alert("Incorrect value!");
        }
      });
    </script>
  </body>
</html>
